[submodule "design/proc"]
	path = design/proc
	url = git@github.com:cchaine/ECAP5-DPROC
[submodule "tools/req"]
	path = tools/req
	url = git@github.com:cchaine/ECAP5-TREQ
[submodule "design/tlib"]
	path = design/testlib
	url = git@github.com:ecap5/ecap5-dtlib
[submodule "design/wbuart"]
	path = design/wbuart
	url = git@github.com:ecap5/ecap5-dwbuart
[submodule "design/soc"]
	path = design/soc
	url = git@github.com:ecap5/ecap5-dsoc
[submodule "boards/som"]
	path = boards/som
	url = git@github.com:ecap5/ecap5-bsom
[submodule "boards/carrier-xlite"]
	path = boards/carrier-xlite
	url = git@github.com:ecap5/ecap5-bcarrier-xlite
[submodule "design/blinky"]
	path = design/blinky
	url = git@github.com:ecap5/ecap5-dblinky
[submodule "design/wbmem-bram"]
	path = design/wbmem-bram
	url = git@github.com:ecap5/ecap5-dwbmem-bram
[submodule "design/wbmmsc"]
	path = design/wbmmsc
	url = git@github.com:ecap5/ecap5-dwbmmsc
